:root {
  --light: #E4D9FF;
  --dark: #1E2749;
  --night: #273469;
  --white: #fff;
  --lighter: #FAFAFF;
  --black: #30343F
}

.globalImg {
  width: 100%;
  height: auto;
}

a {
  color: var(--white);
  text-decoration: none;
}

.text-night {
  color: var(--night)
}

.text-dark {
  color: var(--dark);
}

.text-light {
  color: var(--light);
}

.text-lighter {
  color: var(--lighter);
}

.text-black {
  color: var(--black);
}

.text-white {
  color: var(--white);
}

.bg-night {
  background-color: var(--night);
}

.bg-dark {
  background-color: var(--dark);
}

.bg-light {
  background-color: var(--light);
}

.bg-lighter {
  background-color: var(--lighter);
}

.bg-black {
  background-color: var(--black);
}

.bg-white {
  background-color: var(--white);
}

@media screen and (min-width: 768px) {
  .globalImg {
    width: 100%;
    height: 250px;
  }
}